$accent_black:#1f2025;
$accent_blue: #2e9cfc;

.header{
    height: 15vh;
    width: 92vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &-left{
        &-details{
            color: white;
            &>h3{
                padding-top: 10px;
                font-size: 1rem;
                font-weight: 400;
            }
            &>p{
                font-size: 0.7rem;
                font-weight: 500;
            }
        }
        &-date{
            color: $accent_blue;
            font-weight: 600;
        }
    }
    &-right{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding-top: 6px;
        padding-right: 30px;
        &-top{
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-bottom: 10px;

            .notfication-icon{
                padding-right: 10px;
                .MuiSvgIcon-root{
                    width: 70%;
                    color: whitesmoke;
                    &:hover{
                        color: rgb(201, 201, 201)
                    }
                }
                cursor: pointer;
            }

            .username{
                padding-right: 8px;
                font-size: 0.7rem;
                color: white;
                cursor: pointer;
            }

            .avatar{
                &>img{
                    height: 40px;
                    width: 40px;
                    border-radius: 50%;
                    cursor: pointer;
                    transition: opacity 500ms;
                    &:hover{
                        opacity: 0.8;
                    }
                }
            }

            .dropdown{
                padding-top: 3px;
                .MuiSvgIcon-root{
                    color: whitesmoke;
                    width: 70%;
                }
            }
        }

        &-bottom{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding-right: 25px;
            .add-button{
                padding-right: 20px;
                &>button{
                    background-color: $accent_blue;
                    border: none;
                    height: 25px;
                    width: 60px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: white;
                    .MuiSvgIcon-root{
                        padding-top: 1.8px;
                        padding-right: 3px;
                        width: 70%;
                        color: whitesmoke;
                    }
                    p{
                        font-size: 0.8rem;
                        font-weight: 600;
                    }
                    cursor: pointer;
                }
            }

            .search-button{
                .MuiSvgIcon-root{
                    color: rgb(146, 146, 146);
                    padding-top: 3px;
                    width: 60%;
                }
            }

            .application-input{
                color: white;
                font-size: 0.7rem;
            }
        }
    }
}