.application{
    display: flex;
    flex-direction: column;
    &-intro{
        padding-top:20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        height: 30vh;
        &>div{
            padding-bottom: 10px;
            font-size: 0.9rem;
            font-weight: 500;
        }
    }
    &-list{
        display: flex;
        flex-direction: column;
        background-color: rgba(80, 80, 80, 0.2);
        height: 52.5vh;
        border-radius: 10% 10% 0 0;

        &-header{
            padding: 30px 15px 0 15px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            &-title{
                color: white;
                font-size: 0.9rem;
            }
            &-logo{
                .MuiSvgIcon-root{
                    width: 70%;
                    color: white;
                }
            }
            margin-bottom: 20px;
        }
        &-applicants{
            display: flex;
            flex-direction: column;
            overflow-y: scroll;
        }
    }

}