.application-metrics{
    display: flex;
    flex-direction: column;
    width: 40vw;
    border: 0.5px solid #aaa3;
    padding: 1.5%;
    margin: 10px 0 10px;
    border-radius: 0.6rem;
    .nav-chart{
        display: flex;
        flex-direction: row;
        align-items: center;
        color: white;
        justify-content: space-between;
        &-title{
            width: 30%;
            font-size: 0.8rem;
            font-weight: 600;
        }
        &-categories{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 35%;
            padding-left: 40px;
            &>span{
                font-size: 0.6rem;
                font-weight: 600;
            }
        }
        &-options{
            display: flex;
            align-items: center;
            flex-direction: row;
            align-items: center;
            width: 30%;
            padding-left: 10px;
            .downloadIcon{
                padding-left: 20px;
                display: flex;
                align-items: center;
                .MuiSvgIcon-root{
                    padding-top: 2px;
                    width: 100%;
                }
                &Name{
                    width: 100%;
                    padding-left: 5px;
                    &>span{
                        width: 100%;
                        font-size: 0.6rem;
                        font-weight: 600;
                    }
                }
            }
            .options{
                display: flex;
                .MuiSvgIcon-root{
                    width: 90%;
                    padding-top: 6px;
                }
            }
        }
    }
    .recharts-cartesian-axis-tick {    
        font-size: 0.6rem;
        font-family: Roboto, sans-serif;
    }
    cursor: pointer;
}