.application-details{
    display: flex;
    flex-direction: row;
    width: 100%;
}
@media only screen and (max-width: 1310px) {
    .application-details{
        flex-direction: column;
        align-items: center;
    }
}