$accent_black:#1f2025;
$accent_blue: #2e9cfc;

body{
    background-color: $accent_black;
}
.dashboard{
    padding-left: 50px;
}
.dashboard-items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &-left{
        .metrics{
            width: 65vw;
        }
    }
    &-right{
        .applicants{
            width: 25vw;
            height: 85vh;
            border: 0.5px solid #aaa3;
            border-radius: 0.6rem;
        }
    }
}